{%extends 'base.html'%}

{%block title%}artworks{%endblock%}
{%block content%}
<style>
.file-input{
    background-color:aqua;
    padding:50px;
    text-align: center;
}
.file-input:hover{
    background-color:blue;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {display: block;}
</style>
    <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
        {%for tag in tags.all%}
            <a href='?tag={{tag.pk}}'>{{tag.name}}</a>
        {%endfor%}
        </div>
    </div>

    <form action = "{%url 'artwork_create'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{form.as_p}}
    <input type="submit" value ="submit">
    
    </form>
    <a href="{%url 'tag_new'%}">create tag</a>
    {%for artwork in artworks%}
    <h3>{{artwork.title}}</h3>
    <a href="{%url 'artwork_update' artwork.pk%}">Update</a>
    <a href="{%url 'artwork_delete' artwork.pk%}">Delete</a>
    <img src="{{artwork.image}}" alt="{{artwork.title}}">
    {%for tag in artwork.tags.all%}
    {{tag.name}}
    {%empty%}
    <p>No Tags Assigned</p>
    {%endfor%}

    {%endfor%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone-amd-module.js" integrity="sha512-4p9OjnfBk18Aavg91853yEZCA7ywJYcZpFt+YB+p+gLNPFIAlt2zMBGzTxREYh+sHFsttK0CTYephWaY7I3Wbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{%endblock%}