{%extends 'base.html'%}

{%block title%}artworks{%endblock%}
{%block content%}
<style>
.file-input{
    background-color:aqua;
    padding:50px;
    text-align: center;
}
.file-input:hover{
    background-color:blue;
}
</style>
    <form action = "{%url 'artwork_create'%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{form.as_p}}
    <input type="submit" value ="submit">
    
    </form>
    <a href="{%url 'tag_new'%}">create tag</a>
    {%for artwork in artworks%}
    <h3>{{artwork.title}}</h3>
    <a href="{%url 'artwork_update' artwork.pk%}">Update</a>
    <a href="{%url 'artwork_delete' artwork.pk%}">Delete</a>
    <img src="{{artwork.image}}" alt="{{artwork.title}}">
    {%endfor%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone-amd-module.js" integrity="sha512-4p9OjnfBk18Aavg91853yEZCA7ywJYcZpFt+YB+p+gLNPFIAlt2zMBGzTxREYh+sHFsttK0CTYephWaY7I3Wbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{%endblock%}