{%extends 'base.html'%}
{%block title%}
Contact
{%endblock%}
{%block content%}
<h3 class="contact_page__title">Contact</h3>
<div class="contact_page_container">
    <div class="contact_page_wrapper">
        <div class="contact_page__text">
                <h3>Hi, I'm Ransom</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quibusdam soluta laudantium, in harum enim maxime similique cum ex placeat, consequatur totam dolorem veniam? Ut magnam ad laborum dignissimos amet.</p>
                <p>Check Out The New Halloween Cards Kickstarter below!</p>
                <p>Email: RBergenFakeEmail@gmail.com</p>
        </div>
        <div class="image_wrapper">
            <img src="https://s3.us-east-2.amazonaws.com/artist-images-bhwong/s3://artist-images-bhwong/Screen%20Shot%202021-09-16%20at%205.12.40%20PM.png" alt="Ransom Profile Image">
        </div>
        <div class="social_icons">
            <a href="https://www.instagram.com/rbergen.art/"><i class="fab fa-instagram fa-3x"></i></a>
            <a href="https://www.kickstarter.com/projects/halloweencards/halloween-playing-cards"><i class="fab fa-kickstarter fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/ransom-bergen-992452169/"><i class="fab fa-linkedin-in fa-3x"></i></a>
        </div>
    </div>
</div>

{%endblock%}