{%extends 'base.html'%}
{% load socialaccount %}
{%block title%}
Admin Login
{%endblock%}
{%block content%}
{%if messages%}
  {%for message in messages%}
        <h3 class="error_message">{{message}}</h3>
    {%endfor%}
{%endif%}
<div class="client_side_form_wrapper">

<form class="client_side_form auth_form" action="{%url "login" %}" method="POST">
    {% csrf_token %}
    <h3>Admin/User Login</h3>
    <label for="user-username">username</label>
    <input type="text" name = "username" id='user-username'>
    <label for="user-password">username</label>
    <input type="password" name = "password" id='user-password'>
    <input class="btn auth_form_submit client_side_form_submit" type="submit" value = "Login">
    <a href="{% provider_login_url 'google' %}">Login Or Sign Up With Google</a>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{%endblock%}