{%extends 'base.html'%}
{%block title%}
MFA Login
{%endblock%}
{%block content%}
{%if messages%}
    {%for message in messages%}
        <h3>{{message}}</h3>
    {%endfor%}
{%endif%}
<form action="{%url 'mfalogin'%}" method="POST">
    {% csrf_token %}
    <label for="code">enter code</label>
    <input type="text" name="code" id="code">
    <input type="submit" value="submit">
</form>

<form action="{% url 'newmfacode'%}" method="POST">
    {% csrf_token %}
    <input type="submit" value = "resend code">
</form>
{%endblock%}