{%extends 'base.html'%}
{%block title%}{{object.name}}{%endblock%}
{%block content%}
<h3>{{object.name}}</h3>
{%if user.is_authenticated%}
    {%if user.profile.isClient%}
    <a href="{% url 'product_update' object.pk%}">Update Product</a>
    <a href="{% url 'product_delete' object.pk%}">Delete Product</a>
    {%endif%}
{%endif%}
<img src="{{object.image}}" alt="{{object.name}}">
{%if messages%}
    {%for message in messages%}
        <h3>{{message}}</h3>
    {%endfor%}
{%endif%}


{%if user.is_authenticated%}
<h3>{{user.username}}</h3>

{% comment %} logout form {% endcomment %}
<form action="{% url 'logout'%}" method="Post">
    {% csrf_token %}
    <input type="hidden" name="product" value = {{object.pk}}>
    <input type="submit" value="Logout">
</form>
<h3>Reviews</h3>
{% comment %} New Review Form {% endcomment %}
<form action="{% url 'review_new'%}" method="POST">
    {% csrf_token %}
    <label for="review-title">title</label>
    <input type = "text" id = "review-title" name="title" required>
    <label for="review-content">Content</label>
    <textarea name="content" id="review-content" cols="30" rows="10" required></textarea>
    <input type="hidden" name = "product" value = {{object.pk}}>
    <input type="submit" value = "Submit Review">
</form>
{%else%}
<h3>Login</h3>
{% comment %} login form {% endcomment %}
<form action="{%url "login" %}" method="POST">
    {% csrf_token %}
    <label for="user-username">username</label>
    <input type="text" name = "username" id='user-username'>
    <label for="user-password">username</label>
    <input type="password" name = "password" id='user-password'>
    <input type="hidden" name="product" value = {{object.pk}}>
    <input type="submit" value = "Login">
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% comment %} Register Form {% endcomment %}
<form action="{%url 'signup'%}" method="POST">
    {% csrf_token %}
    {{user_create_from.as_p}}
    <input type="hidden" name="product" value = {{object.pk}}>
    <input type="submit" value ="Sign Up">
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<h3>Reviews</h3>
{%endif%}

{% comment %} Review List {% endcomment %}
{%for review in object.reviews.all%}
<h4>{{review.title}}</h4>
<p>{{review.content}}</p>
{%if review.user.username == user.username%}
{% comment %} Delete Review {% endcomment %}
<form action="{%url "review_delete" review.pk%}" method="POST">
{% csrf_token %}
<button>delete</button>
</form>

{% comment %} Update Review {% endcomment %}
<form action="{% url 'review_update' review.pk %}" method="POST">
    {% csrf_token %}
    <label for="review-title">title</label>
    <input type = "text" id = "review-title" name="title" value = "{{review.title}}" required>
    <label for="review-content">Content</label>
    <textarea name="content" id="review-content" cols="30" rows="10" required>{{review.content}}</textarea>
    <input type="submit" value = "Submit Review">
</form>
{%endif%}

{%empty%}
<p>No Reviews</p>
{%endfor%}

{%endblock%}